numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
tqdm
pyarrow
fastparquet
torch
torchvision
torchaudio
faiss-gpu
transformers
sentence-transformers
datasets
pymoo
pydantic
typer
pyyaml
accelerate
bitsandbytes
vllm
wandb
